syntax: glob

local.properties
backend/bin/
application/bin/
application/build
util/bin
application/dist
application/lib
application/.polishSettings
application/tools
backend/dist/*
key.properties
glob:application/custom-devices.xml
cases/bin/
application/custom-devices.xml
application/corpora/*
application/cover/*
application/cover/*
application/coverage/image/data/three-three_three.png
*/application/coverage/*
application/src/org/commcare/restore/CommCareOTARestoreController.java.orig
application/weblib*/*
build/
*.*~
*.orig
*.swp
.hg*
*.iml
**.DS_STORE
*.db
.gradle/
.idea/
